<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--
            1: LinkShareFtpProvider
            2: LinkShareWebServiceProvider
            3: CommissionJunctionWebServiceProvider
        -->
        <add key="providers" value="1,2,3"/>
        <add key="cjSiteID" value="3100204" />
        <add key="cjDeveloperKey" value="00b171e48c4bc1e70836b252e1c4c40a893f19db0457be8447b1acdbdc0e7e769e1b804c1af54f883326d6147d1365f4b5f031a61740cf0c63a9f4b3d174cebbbf/420a385c3aa9bcd962b9f57ccf2583225758c11999aa6f42db8e90f9126fe0a7110790cd2ccd66a4f1861e89bd33fcfa6f528b494fa183f5d380ca289d18c309" />
        <add key="cjProductSearch" value="https://product-search.api.cj.com" />
        <add key="linkshareToken" value="5bfb339580a02308573204c2ac1bb921ecba09ba542a19d271c2d7e9c27a509f"/>
    </appSettings>
    <connectionStrings>
        <add name="CashBackDBEntities" connectionString="metadata=res://*/DataAccess.CashBack.csdl|res://*/DataAccess.CashBack.ssdl|res://*/DataAccess.CashBack.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=G:\Projects\CashBack\CashBack.Web\App_Data\CashBackDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>