body {
	background: #f2f2f2;
	font: normal 62.5% "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif !important;
	color: #000000;
	line-height: 1.4;
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif !important;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	border-bottom: 0 !important;
}

a {
	border-bottom: 0px;
	color: #5DB0E6;
}
a:focus {
	outline: 1px dotted #eee;
}
a:active {
	outline: 0px;
}
a:hover {
	color: #7bc4f4;
}

#siteContain {
    width:100%;
	/*width: 910px;*/
	/*margin: 0 auto;*/
}
#header {
	/*rockstar removed */
	height: 67px;
	position: relative;
}
body#header { 
	background: none;
	height: 67px;
}

#logo
{
    height:40px;
}

#footer {
background: #ffffff;
margin-bottom: 3em;
padding: 0 0 0 0;
}

#footer p {
font-size: 1.2em;
color: #000000;
margin: .5em 0;
line-height: 1.4;
}
#footer p a {
color: #5DB0E6;
text-decoration: underline;
}

#bottom-message {
	position:fixed;
	width:98.7%;
	height:30px;
	padding:0;
	left:8px;
	bottom:-2px;
	background:transparent url(../Content/Images/bg-message.png) repeat-x;
	border:1px solid #ccc;
	border-bottom:0;
	z-index:7000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#bottom-message ul li {
	float:left;
	font-size:11px;
	line-height:100%;
	color:#999;
	padding: 7px 15px 0 12px;
	margin:0;
	height:21px;
	background:url(../Content/Images/bg-message_dividers.png) no-repeat right top;
}

#bottom-message ul li.right {
	float:right;
	background-position:left top;
	padding: 8px 12px 0 15px;
}

#bottom-message ul li strong {
	color:#666;
}

#bottom-message ul li a,#bottom-message ul li a:visited {
	border:0;
	color:#999;
	text-decoration:none;
}

#bottom-message ul li.icon {
	padding:0;
	height:28px;
}

#bottom-message ul li.icon a,#bottom-message ul li.icon a:visited {
	display:block;
	font-weight:bold;
	padding:7px 15px 7px 27px;
	text-decoration:none;
	border:none;
	height:16px;
}

#bottom-message ul li a#up {
	background:url(../Content/Images/layout_header.png) center center no-repeat;
}

#bottom-message ul li a#down {
	background:url(../Content/Images/layout_header_3_mix.png) center center no-repeat;
}

#bottom-message ul li.right.icon a,#bottom-message ul li.right.icon a:visited {
	display:block;
	font-weight:normal;
	padding:7px 10px 7px 37px;
	text-decoration:none;
	border:none;
	height:16px;
}

#bottom-message ul li.right.icon {
	padding:0;
}

#top-menu{
	position:fixed;
	width:98.7%;
	height:28px;
	padding:0;
	left:8px;
	top:-2px;
	background:transparent url(../Content/Images/bg-top-menu.png) repeat-x;
	border:1px solid #ccc;
	border-top:0;
	z-index:7000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#top-menu ul li {
	float:left;
	font-size:11px;
	line-height:100%;
	color:#ffffff;
	padding: 10px 15px 0 12px;
	margin:0;
	height:21px;
	background:url(../Content/Images/bg-top-menu_dividers.png) no-repeat right top;
}

#top-menu ul li.right {
	float:right;
	background-position:left top;
	padding:7px 12px 0 15px;
}

#top-menu ul li strong {
	color:#666;
}

#top-menu ul li a,#top-menu ul li a:visited {
	border:0;
	color:#ffffff;
	text-decoration:none;
}

#top-menu ul li.icon {
	padding:0;
	height:28px;
}

#top-menu ul li.icon a,#top-menu ul li.icon a:visited {
	display:block;
	font-weight:bold;
	padding:7px 15px 7px 27px;
	text-decoration:none;
	border:none;
	height:16px;
}

#top-menu ul li a#up {
	background:url(../Content/Images/layout_header.png) center center no-repeat;
}

#top-menu ul li a#down {
	background:url(../Content/Images/layout_header_3_mix.png) center center no-repeat;
}

#top-menu ul li.right.icon a,#top-menu ul li.right.icon a:visited {
	display:block;
	font-weight:normal;
	padding:7px 10px 7px 37px;
	text-decoration:none;
	border:none;
	height:16px;
}

#top-menu ul li.right.icon {
	padding:0;
}

/* ----- clear fix for floats ----- */
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }		
/* hides clearfix from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* end hide from IE-mac */

#top-menu ul li div.menu-dock
{
    display:none;
    left:0px;
    top:27px;
    position:absolute;
    width:920px;
    color:#ccc;
    padding:5px 0;
    /*background:url("../Content/Images/dock_bg.gif") top left repeat-x;*/
    background-color:#404040;
    z-index:5;
    cursor:pointer;
}
#top-menu ul li div.menu-dock table
{
    border:none;border-collapse:collapse;width:100%;height:100%;padding:5px;margin:0;
}
#top-menu ul li div.menu-dock td
{
    border:none;border-top:solid 1px #666;padding:0;width:16%;cursor:pointer;
}
#top-menu ul li div.menu-dock tr.first td
{
    border-top:none;
}
#top-menu ul li div.menu-dock a,#top-menu ul li div.menu-dock span
{
    border-left:solid 1px #666;
    color:#ffffff;
    font-weight:normal;
    font-size:12px;
    display:block;
    margin:0;
    padding-left:6px;
    padding-top:4px;
    padding-bottom:4px;
    width:100%;
    text-decoration:none;
}
#top-menu ul li div.menu-dock a:hover
{
    color:#9c3;
}
#top-menu ul li div.menu-dock td.first a,#top-menu ul li div.menu-dock td.first span
{
    border-left:none;
}
#top-menu ul li div.menu-dock span
{
    color:#999;cursor:default;
}

div.bar
{   
    padding:0;height:27px;background:url(../Content/Images/nav-background.gif) repeat-x;
}

.fluid
{   
    width:100%;min-width:920px;
}

/*Primary Navigation*/
#primaryNavigation{
    position:relative;
}
#primaryNavigation ul {
float: left;
padding: 0 0 0 0;
margin: 0;
width:100%;min-width:920px;
}
#primaryNavigation ul li{
float: left;
list-style: none;
/*
border-right: 1px solid #0D5995;
border-left: 1px solid #1175AE;
*/
height: 27px;
margin: 0;
background: none;
padding: 0;
}

#primaryNavigation ul li.right {
float:right;
}

#primaryNavigation ul li.first {
border-left: none;
}
#primaryNavigation ul li.last {
border-right: none;
}
#primaryNavigation li a {
float: left;
padding: 0 12px;
font-size: 1.3em;
color: #eee;
text-decoration: none;
line-height: 27px;
position: relative;
}
#primaryNavigation li a span {
position: relative;
top: 0;
left: 0;

}

#primaryNavigation li a:hover {
	color: #9c3;
}

/*Footer Navigation*/
#footerNavigation{
    position:relative;
}
#footerNavigation ul {
float: left;
padding: 0 0 0 0;
margin: 0;
width:100%;min-width:920px;
}
#footerNavigation ul li{
float: left;
list-style: none;
/*
border-right: 1px solid #0D5995;
border-left: 1px solid #1175AE;
*/
height: 27px;
margin: 0;
background: none;
padding: 0;
}

#footerNavigation ul li.right {
float:right;
}

#footerNavigation ul li.first {
border-left: none;
}
#footerNavigation ul li.last {
border-right: none;
}
#footerNavigation li a {
float: left;
padding: 0 12px;
font-size: 1.2em;
color: #898994;
text-decoration: none;
line-height: 27px;
position: relative;
}
#footerNavigation li a span {
position: relative;
top: 0;
left: 0;

}

#footerNavigation li a:hover {
	color: #9c3;
}

div.searchnav
{
    position:absolute;
    top:43px;
    left:250px;
    *top:42px;
}

div.searchnav input
{
    width:400px;
    height:18px;
    border: solid 0px #ffffff;
    padding-top: 2px;
    vertical-align:middle;
}
div.searchnav input
{
    width:300px;
    height:20px;
}

div.searchnav input.text
{
    font-size:120%;
}